python-dotenv
langchain>=0.1.0 
langchain-community 
langchain-openai
langchain-ollama
#pypdf
#faiss-cpu
chromadb
groq
langchain-groq>=0.1.9
beautifulsoup4
streamlit
langchain_google_genai
PyPDF2
langchain-chroma
#pdfplumber
memory_profiler
PyMuPDF
stqdm
sentence-transformers
#huggingface-hub
pysqlite3-binary 
gspread
oauth2client
pandas
google-api-python-client
streamlit-aggrid
pydantic>=2.0.0
nest_asyncio
asyncio
ib_insync
